
{% extends 'pshapes_site/base.html' %}

{% load leaflet_tags %}

{% block content %}

	<div class="map header" style="text-align:left; margin-top: 0; padding: 0 0 0 0;">
    		<h3 style="color:black">
		Pshapes Dataset of Historical Province Boundaries, 1946-2014
		</h3>

		<p style="font-size:small">
		Pshapes is a proposed historical dataset of the boundaries of subnational country provinces worldwide, 
		changes in their names, administrative centers, and reference codes. 
		The dataset is crowdsourced and created by people like you in order to bring together the multiple 
		stakeholders that might need such data and therefore also ensure the highest possible data quality. 
		Contributing to the dataset is easy and only requires that you register a new user account. 

		<br><br>

		<b>The Pshapes website and data is still in early alpha-testing, so no content is currently available.</b>

		<br><br>

		<em>* The term province is used here loosely to refer to administrative units, and in the current 
		version only includes the highest level (level 1).</em>
		</p>
	</div>

	<div>
        {% leaflet_js %}
        {% leaflet_css %}
        {% leaflet_map "map" %}
        </div>

	{% block extracss %}
	 <style>
	    #map { 
	        width: 100%;
	     }
	 </style>
	{% endblock extracss %}

{% endblock %}
