
{% extends 'pshapes_site/base.html' %}

{% block content %}

	<div class="header" style="text-align:left; margin-top: 0; padding: 0 0 0 0;">
    	<h3 style="color:black">
			User Settings for {{ user }}
		</h3>

		<div>
		
			<form action="/account/edit/" method="post">
			
				{% csrf_token %}

				<fieldset>
					<legend>User Information</legend>
					{{ userinfoform.as_p }}
				</fieldset>
				
				<input type="submit" value="Submit" style="background-color:orange; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; float:right; margin:10px;">
				
			</form>
			
		</div>
	</div>

{% endblock %}
