
{% extends 'pshapes_site/base.html' %}

{% load i18n %}

{% block content %}






<div style="padding: 0 4% 0 4%; width:80%;" >

<h2>Adding new map</h2>

        <div style="margin-left:6%">
            <p>To capture all boundary changes we sometimes need to refer to historical maps showing
            the boundaries of the provinces prior to the change.
            </p>
                        
            Instructions:
                        <ol>
                            <li>
                                Here are some useful sources for finding historical maps:

                                <ul>
                                    <li><a target="_blank" href="http://mapwarper.net/">MapWarper</a></li>
                                    <li><a target="_blank" href="http://www.oldmapsonline.org/">OldMapsOnline</a></li>
                                    <li><a target="_blank" href="https://www.loc.gov/maps/?q=administrative%20divisions">The Library of Congress Map Collection</a></li>
                                    <li><a target="_blank" href="https://www.lib.utexas.edu/maps/historical/index.html">The Perry-Castaneda Library Map Collection</a></li>
                                    <li><a target="_blank" href="http://alabamamaps.ua.edu/historicalmaps/">Alabama Maps Historical Maps</a></li>
                                    <li><a target="_blank" href="http://www.zum.de/whkmla/region/indexa.html">World History at KMLA</a></li>
                                    <li><a target="_blank" href="http://www.antiquemapsandprints.com/prints-and-maps-by-country-12-c.asp">Antique Maps and Prints</a></li>
                                    <li><a target="_blank" href="http://catalogue.defap-bibliotheque.fr/index.php?lvl=index">La bibliotheque du Defap</a></li>
                                </ul>
                            </li>
                            
                            <br>
                            <li>
                                Once you have found a map, first <a href="/addsource/?country={{ request.GET.country }}">register the source</a> where you found it, e.g. a book
                                or a website. Make sure the map source doesn't have a license that restricts sharing or derivative work.
                            </li>

                            <br>
                            <li>
                                Then register the map itself below, referencing the source you registered earlier.
                            </li>

                            <br>
                            <li>
                                Finally, georeference the map at <a target="_blank" href="http://mapwarper.net/">MapWarper</a>
                                and get its "WMS" link (under the "Export" tab). This will allow us to use the historical
                                map as overlay when drawing boundary changes. 
                            </li>
                        </ol>
                            
        </div>
    
<form action="/addmap/" method="post">
    {% csrf_token %}

    {{ mapform.as_custom | safe }}

    <input type="submit" style="float:right; text-align:center; background-color:orange; color:white; border-radius:10px; padding:7px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:3px;">

</form>

</div>


{% endblock %}
