
{% extends 'pshapes_site/base.html' %}

{% load i18n %}

{% block content %}






<div style="padding: 0 4% 0 4%; width:80%;" >

<h2>Adding new map</h2>

        <div style="margin-left:6%">
            <p>To capture all boundary changes we sometimes need to refer to historical maps showing
            the boundaries of the provinces prior to the change.
            </p>
                        
            Instructions:
                        <ol>
                            <li>
                                Here are some useful sources for finding historical maps:

                                <ul>
                                    {{ map_resources | safe }}
                                </ul>
                            </li>

                            <br>
                            <li>
                                Register the map below. If the map was found in one of the registered sources (book, article, webpage), select it from the dropdown.
                                (Make sure the map source doesn't have a license that restricts sharing or derivative work)
                            </li>

                            <br>
                            <li>
                                Upload and georeference the map image on the <a target="_blank" href="http://mapwarper.net/">MapWarper website</a>
                                and get its "WMS" link (under the "Export" tab). This will allow us to use the historical
                                map as overlay when drawing boundary changes. 
                            </li>
                        </ol>
                            
        </div>
    
<form action="/addmap/" method="post">
    {% csrf_token %}





        <style>
            #id_title {
                width:60%
                }
            #id_citation, #id_note, #id_url, #id_wms {
                width:98%
                }
        </style>

        <br><br>
        
        <h2 style="text-align:center; margin-top:0">
            <img height="25px" src="http://icons.iconarchive.com/icons/icons8/android/512/Maps-Map-Marker-icon.png">
        </h2>
		
	<table style="width:98%; font-weight:bold; overflow:hidden; border-spacing:0 10px">

            <tr>
                <td style="text-align:right; vertical-align:top">{{ mapform.title.label_tag }}</td>
                <td>
                    {{ mapform.title }}
                    <div style="float:right; margin-right:2%">
                        {{ mapform.year.label_tag }}
                        {{ mapform.year }}
                    </div>
                </td>
            </tr>

            <tr>
                <td style="text-align:right; vertical-align:top">Hint:</td>
                <td style="font-weight:normal">To make this map available to multiple countries, list all countries
                in the country field, separated by the "pipe" (|) symbol.</td>
            </tr>

            <tr>
                <td style="text-align:right; vertical-align:top">{{ mapform.country.label_tag }}</td>
                <td style="font-weight:normal">{{ mapform.country }}</td>
            </tr>

            <tr>
                <td style="text-align:right; vertical-align:top">
                    {{ mapform.url.label_tag }}
                </td>
                <td style="font-weight:normal">
                    {{ mapform.url }}
                </td>
            </td>

            <tr>
                <td style="text-align:right; vertical-align:top">{{ mapform.note.label_tag }}</td>
                <td style="font-weight:normal">{{ mapform.note }}</td>
            </td>            

            <tr>
                <td style="text-align:right; vertical-align:top">{{ mapform.source.label_tag }}</td>
                <td style="font-weight:normal">
                {{ mapform.source }}
                </td>
            </td>

            <tr>
                <td style="text-align:right; vertical-align:top">{{ mapform.wms.label_tag }}</td>
                <td style="font-weight:normal">
                        {{ mapform.wms }}
                        <div style="padding:5%; text-align:center">
                            <img src="http://icons.iconarchive.com/icons/icons8/android/512/Maps-Map-Marker-icon.png" style="opacity:0.1; width:40%">
                        </div>
                </td>
            </td>

        </table>






    <input type="submit" style="float:right; text-align:center; background-color:orange; color:white; border-radius:10px; padding:7px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:3px;">

</form>

</div>


{% endblock %}
