
{% extends 'pshapes_site/base.html' %}

{% load i18n %}

{% block content %}






<div style="padding: 0 4% 0 4%; width:80%;" >

<h2>Adding new source</h2>

    <div style="margin-left:6%">
                                <p>Register each source as specifically as possible,
                                one for each webpage, or a particular section of a book.</p>
                                
                                <p>The <a target="_blank" href="http://www.statoids.com">Statoids website</a> provides very extensive timelines of administrative changes and is the recommended place to start.
                                For more difficult cases or when additional information is needed, here are some other websites that might be useful:</p>
                                
                                <ul>                                    
                                    <li>
                                    <a target="_blank" href="https://en.wikipedia.org/wiki/Table_of_administrative_divisions_by_country">Wikipedia entries for administrative units</a>
                                    </li>

                                    <li>
                                    <a target="_blank" href="http://www.zum.de/whkmla/">World History at KMLA</a>
                                    </li>

                                    <li>
                                    <a target="_blank" href="http://www.populstat.info/">Populstat website</a>
                                    </li>

                                    <li>
                                    <a target="_blank" href="http://www.worldstatesmen.org/">World Statesmen website</a>
                                    </li>
                                </ul>

    </div>
    
<form action="/addsource/" method="post">
    {% csrf_token %}





        <br>

        <style>
            #id_title {
                width:60%
                }
            #id_citation, #id_note, #id_url {
                width:98%
                }
        </style>

        <h2 style="text-align:center; margin-top:0">
            <img height="25px" src="http://www.pvhc.net/img28/hgicvxtrvbwmfpuozczo.png">
        </h2>

	<table style="width:98%; font-weight:bold; overflow:hidden; border-spacing:0 10px;">

            <tr>
                <td style="text-align:right; vertical-align:top">{{ sourceform.title.label_tag }}</td>
                <td style="font-weight:normal">{{ sourceform.title }}</td>
            </td>

            <tr>
                <td style="text-align:right; vertical-align:top">Hint:</td>
                <td style="font-weight:normal">To make this source available to multiple countries, list all countries
                in the country field, separated by the "pipe" (|) symbol.</td>
            </tr>

            <tr>
                <td style="text-align:right; vertical-align:top">{{ sourceform.country.label_tag }}</td>
                <td style="font-weight:normal">{{ sourceform.country }}</td>
            </tr>

            <tr>
                <td style="text-align:right; vertical-align:top">{{ sourceform.url.label_tag }}</td>
                <td style="font-weight:normal">{{ sourceform.url }}</td>
            </td>

            <tr>
                <td style="text-align:right; vertical-align:top">{{ sourceform.citation.label_tag }}</td>
                <td style="font-weight:normal; padding-bottom:20px">{{ sourceform.citation }}</td>
            </td>

            <tr>
                <td style="text-align:right; vertical-align:top">{{ sourceform.note.label_tag }}</td>
                <td style="font-weight:normal">{{ sourceform.note }}</td>
            </td>

        </table>





    <input type="submit" style="float:right; text-align:center; background-color:orange; color:white; border-radius:10px; padding:7px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:3px;">

</form>

</div>


{% endblock %}
