
{% extends 'pshapes_site/base.html' %}

{% load i18n %}

{% block content %}






<div style="padding: 0 4% 0 4%; width:80%;" >

<h2>Adding new source</h2>

    <div style="margin-left:6%">
                                <p>Register each source as specifically as possible,
                                one for each webpage, or a particular range of book pages.</p>
                                
                                <p>The <a target="_blank" href="http://www.statoids.com">Statoids website</a> provides very extensive timelines of administrative changes and is the recommended place to start.
                                For more difficult cases or when additional information is needed, here are some other websites that might be useful:</p>
                                
                                <ul>                                    
                                    <li>
                                    <a target="_blank" href="https://en.wikipedia.org/wiki/Table_of_administrative_divisions_by_country">Wikipedia entries for administrative units</a>
                                    </li>

                                    <li>
                                    <a target="_blank" href="http://www.zum.de/whkmla/">World History at KMLA</a>
                                    </li>

                                    <li>
                                    <a target="_blank" href="http://www.populstat.info/">Populstat website</a>
                                    </li>
                                </ul>

    </div>
    
<form action="/addsource/" method="post">
    {% csrf_token %}

    {{ sourceform.as_custom | safe }}

    <input type="submit" style="float:right; text-align:center; background-color:orange; color:white; border-radius:10px; padding:7px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:3px;">

</form>

</div>


{% endblock %}
