
{% extends 'pshapes_site/base.html' %}

{% block content %}
	<head>
	{{ geochange.media }}
	</head>
	<div class="header" style="text-align:left; margin-top: 0; padding: 0 4% 0 4%;">
    		<h3 style="color:black">
		Edit Province Change
		</h3>

		<div>
		
			<form action="/provchange/{{pk}}/edit/" method="post">
			
				{% csrf_token %}

				<fieldset>
					<legend>General Information</legend>
					{{ generalchange.as_p }}
				</fieldset>

				<fieldset>
					<legend>Type of Change</legend>
					{{ typechange.as_p }}
				</fieldset>
				
				<div>
				<fieldset style="float:left; width:45%">
					<legend>From Province</legend>
					{{ fromchange.as_p }}
				</fieldset>

				<fieldset style="width:45%">
					<legend>To Province</legend>
					{{ tochange.as_p }}
				</fieldset>
				</div>
				
				<fieldset>
					<legend>Geo Change</legend>
					{{ geochange.as_simple }}
				</fieldset>
				
				<input type="submit" value="Submit" style="background-color:orange; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; float:right; margin:10px;">
				
			</form>
			
		</div>
	</div>

{% endblock %}
