
{% extends 'pshapes_site/base.html' %}

{% block content %}

	<div class="header" style="text-align:left; margin-top: 0; padding: 0 0 0 0;">
    		<h3 style="color:black">
		Submit New Province Change
		</h3>

		<div>
		
			<form action="/submitchange/" method="post">
			
				{% csrf_token %}

				<fieldset>
					<legend>Type of Change</legend>
					{{ typechange.as_p }}
				</fieldset>
				
				<fieldset>
					<legend>General Information</legend>
					{{ generalchange.as_p }}
				</fieldset>
				
				<fieldset>
					<legend>From Province</legend>
					{{ fromchange.as_p }}
				</fieldset>

				<fieldset>
					<legend>Geo Change</legend>
					{{ geochange.as_p }}
				</fieldset>
				
				<fieldset>
					<legend>To Province</legend>
					{{ tochange.as_p }}
				</fieldset>
				
				<input type="submit" value="Submit" style="background-color:orange; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; float:right; margin:10px;">
				
			</form>
			
		</div>
	</div>

{% endblock %}
