
{% extends 'pshapes_site/base.html' %}

{% block content %}
	<head>
	{{ geochange.media }}
	</head>
	<div class="header" style="text-align:left; margin-top: 0; padding: 0 4% 0 4%;">
		<div>
    	<h2 style="color:black">
		Province Change
		</h2>
		
		{% if eventlink %}
			<a href="{{eventlink}}" style="background-color:orange; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;">
			Back to Event
			</a>
		{% endif %}
		
		<a href="/provchange/{{pk}}/edit/" style="background-color:orange; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;">
		Edit
		</a>

		{% if canvouch and hasvouched %}
				<div style="display:inline-block; background-color:green; color:white; border:3px solid black; border-radius:10px; padding:3px; margin:7px; color:black; font-family:inherit; font-size:inherit; font-weight:bold;">
				{{ vouches|length }}
				<a href="/provchange/{{pk}}/withdrawvouch/">
				<img src="/static/vouch.png" height=22px />
				</a>
				</div>
			
		{% elif canvouch and not hasvouched %}
				<div style="display:inline-block; color:white; border:3px solid black; border-radius:10px; padding:3px; margin:7px; color:black; font-family:inherit; font-size:inherit; font-weight:bold;">
				{{ vouches|length }}
				<a href="/provchange/{{pk}}/addvouch/">
				<img src="/static/vouch.png" height=22px />
				</a>
				</div>

		{% else %}
				<div style="display:inline; color:white; border-radius:10px; padding:7px; margin:10px; height:40px">
				<a style="color:black; font-family:inherit; font-size:inherit; font-weight:bold;">
				{{ vouches|length }}
				</a>
				<img src="/static/vouch.png" height=30px />
				</div>
			
		{% endif %}

		<div style="display:inline; color:white; border-radius:10px; padding:7px; margin:10px; height:40px">
		<a style="color:black; font-family:inherit; font-size:inherit; font-weight:bold;">
		{{ issues }}
		</a>
		<img src="/static/issue.png" height=25px />
		</div>

		{% if metachange.status.value != 'NonActive' %}
			{% if user.username == metachange.user.value or user.is_staff %}
				<a href="/provchange/{{pk}}/withdraw/" style="float:right; background-color:crimson; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;">
				Withdraw?
				</a>
				<br><br>
			{% endif %}
			
		{% elif metachange.status.value == 'NonActive' %}
			{% if user.username == metachange.user.value or user.is_staff %}
				<a href="/provchange/{{pk}}/resubmit/" style="float:right; background-color:green; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;">
				Resubmit?
				</a>
				<br><br>
			{% endif %}
			
		{% endif %}
		
		</div>

		<br>

                <h2 style="text-align:center; margin-top:0">
                    <img height="30px" src="/static/typechange.png">
                    {{ pk }}
                </h2>

                <h2 style="text-align:center">{{ summary }}</h2>
                


                <br>        

		{% for note in notes %}
                    {{ note|safe }}
                {% endfor %}
		
		<div>
			
				{% csrf_token %}

				<fieldset>
					<legend>
                                            <img height="30px" src="{{ metachange.icon }}">
                                            Submitted By
					</legend>
					{% for field in metachange %}
						<p>{{ field.label }}: {{ field.value }}</p>
					{% endfor %}
				</fieldset>
				
				<fieldset>
					<legend>
                                            <img height="30px" src="{{ generalchange.icon }}">
                                            General Information
					</legend>
					<p>{{ generalchange.date.label }}: {{ generalchange.date.value }}</p>

					<p>{{ generalchange.source.label }}: {{ generalchange.get_source_formatted | safe }}</p>

				</fieldset>

				<fieldset>
					<legend>
                                            <img height="30px" src="{{ typechange.icon }}">
                                            Type of Change
					</legend>
					<p>Type: {{ typechange.type.value }}</p>
				</fieldset>

				<div>
				<fieldset style="float:left; width:45%">
					<legend>
                                            <img height="25px" src="{{ fromchange.icon }}">
                                            From Province
					</legend>
					{% for field in fromchange %}
						<p>{{ field.label }}: {{ field.value }}</p>
					{% endfor %}
				</fieldset>

				<fieldset style="width:45%">
					<legend>
                                            <img height="25px" src="{{ tochange.icon }}">
                                            To Province
					</legend>
					{% for field in tochange %}
						<p>{{ field.label }}: {{ field.value }}</p>
					{% endfor %}
				</fieldset>
				</div>

				{% if typechange.type.value in "MergeNew TransferNew MergeExisting TransferExisting PartTransfer FullTransfer" %}
					
					<fieldset style="clear:both">
                                                <legend>
                                                    <img height="30px" src="{{ geochange.icon }}">
                                                    Geo Change
                                                </legend>
                                                        <input type="hidden" id="id_transfer_map" value="{{ geochange.transfer_map.value }}">
                                                        <div style="padding:10px 0 20px 0">Map Overlay:
                                                            {% if geochange.transfer_map.value %}
                                                                <a href="/viewmap/{{ geochange.transfer_map.value }}" target="_blank">
                                                                    <img height="20px" src="http://www.pvhc.net/img28/hgicvxtrvbwmfpuozczo.png">{{ geochange.transfer_map.value }}
                                                                </a>
                                                            {% endif %}
                                                        </div>

                                                        <div>{{ geochange.as_maponly }}</div>

                                                        <div style="clear:both">
                                                        
                                                        </div>

					</fieldset>
					
				{% endif %}
			
		</div>

		<br/>

                <h3>
                    Issues:
                </h3>
                
		<div>
		{{ topics | safe }}
		</div>

		<br/>

		<h3>Pending Edits</h3>
		{{ pendingeditstable }}
		
		<br/>

		<h3>Revision History</h3>
		{{ oldversionstable }}
		
	</div>

{% endblock %}
