
{% extends 'pshapes_site/base.html' %}

{% load i18n %}

{% block content %}






<div style="padding: 0 4% 0 4%; width:80%;" >

<h2>Source</h2>

    <div style="padding-left:20px;">

        <div style="float:left;">
            <a href="/editsource/{{ pk }}" style="text-align:center; background-color:orange; color:white; border-radius:10px; padding:7px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:3px;">
            Edit
            </a>
        </div>

        {% if request.user.username == sourceform.user.value or request.user.is_staff %}
            {% if sourceform.status.value == "Active" %}
                <div style="float:right;">
                    <a href="/dropsource/{{ pk }}" style="text-align:center; background-color:crimson; color:white; border-radius:10px; padding:7px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:3px;">
                    Drop?
                    </a>
                </div>
            {% else %}
                <div style="float:right;">
                    <a href="/notimplementedyet/{{ pk }}" style="text-align:center; background-color:green; color:white; border-radius:10px; padding:7px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:3px;">
                    Resubmit?
                    </a>
                </div>
            {% endif %}
        {% endif %}

    </div>

    <br><br>



    
    
        <style>
            #id_title {
                width:60%
                }
            #id_citation, #id_note, #id_url {
                width:98%
                }
        </style>

        <h2 style="text-align:center; margin-top:0">
            <img height="25px" src="/static/source.png">{{ pk }}
        </h2>
        <h2 style="text-align:center">{{ sourceform.title.value }}</h2>
		
	<table style="font-weight:bold; overflow:hidden; border-spacing:0 10px; padding-bottom:100px; padding-left:40px">

            <tr>
                <td style="text-align:right; vertical-align:top">{{ sourceform.country.label_tag }}</td>
                <td style="font-weight:normal">{{ countrylinks | safe }}</td>
            </tr>

            <tr>
                <td style="text-align:right; vertical-align:top">{{ sourceform.url.label_tag }}</td>
                <td style="font-weight:normal"><a href="{{ sourceform.url.value }}">{{ sourceform.url.value }}</a></td>
            </td>

            <tr>
                <td style="text-align:right; vertical-align:top">{{ sourceform.citation.label_tag }}</td>
                <td style="font-weight:normal; padding-bottom:20px">{{ sourceform.citation.value }}</td>
            </td>

            <tr>
                <td style="text-align:right; vertical-align:top">{{ sourceform.note.label_tag }}</td>
                <td style="font-weight:normal; padding-bottom:20px">{{ sourceform.note.value }}</td>
            </td>

        </table>

</div>


{% endblock %}
