
{% extends 'pshapes_site/base.html' %}

{% load leaflet_tags %}

{% block content %}
	<head>
	{{ geochange.media }}
    {% leaflet_js %}
    {% leaflet_css %}
	</head>
	<div class="header" style="text-align:left; margin-top: 0; padding: 0 0 0 0;">
		<div>
    	<h3 style="color:black">
		Province Change
		</h3>
		
		{{ note|safe }}
		
		<br>
		
		{% if eventlink %}
			<a href="{{eventlink}}" style="background-color:orange; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;">
			Back to Event
			</a>
		{% endif %}
		
		<a href="/provchange/{{pk}}/edit/" style="background-color:orange; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;">
		Edit
		</a>
		{% if user.username == metachange.user.value or 'user.administrator' in user.get_all_permission %}
			<a href="/provchange/{{pk}}/delete/" style="background-color:red; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;">
			Delete
			</a>
		{% endif %}
		
		</div>
		
		<br><br>
		
		<div>
			
				{% csrf_token %}

				<fieldset>
					<legend>Submitted By</legend>
					{% for field in metachange %}
						<p>{{ field.label }}: {{ field.value }}</p>
					{% endfor %}
				</fieldset>
				
				<fieldset>
					<legend>General Information</legend>
					{% for field in generalchange %}
						<p>{{ field.label }}: {{ field.value }}</p>
					{% endfor %}
				</fieldset>
				
				<fieldset>
					<legend>Type of Change</legend>
					<p>Type: {{ typechange.type.value }}</p>
				</fieldset>
				
				<fieldset>
					<legend>From Province</legend>
					{% for field in fromchange %}
						<p>{{ field.label }}: {{ field.value }}</p>
					{% endfor %}
				</fieldset>

				{% if "Transfer" in typechange.type.value %}
					
					<fieldset>
						<legend>Historical Map Source</legend>
						{{ histomap.as_p }}
					</fieldset>

					<fieldset>
						<legend>Georeferenced Map</legend>
						{{ georef.as_p }}
					</fieldset>
					
					<fieldset>
						<legend>Geo Change</legend>
						{{ geochange.as_p }}
					</fieldset>
					
				{% endif %}
				
				<fieldset>
					<legend>To Province</legend>
					{% for field in tochange %}
						<p>{{ field.label }}: {{ field.value }}</p>
					{% endfor %}
				</fieldset>
			
		</div>
		
		<br><br>

		<h3>Pending Edits</h3>
		{{ pendingeditstable }}
		
		<h3>Revision History</h3>
		{{ oldversionstable }}
		
	</div>

{% endblock %}
