
{% extends 'pshapes_site/base.html' %}

{% block content %}
	<head>
	{{ geochange.media }}
	</head>
	<div class="header" style="text-align:left; margin-top: 0; padding: 0 4% 0 4%;">
		<div>
    	<h3 style="color:black">
		Province Change
		</h3>
		
		<br>
		
		{% if eventlink %}
			<a href="{{eventlink}}" style="background-color:orange; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;">
			Back to Event
			</a>
		{% endif %}
		
		<a href="/provchange/{{pk}}/edit/" style="background-color:orange; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;">
		Edit
		</a>

		{% if canvouch and hasvouched %}
				<div style="display:inline-block; background-color:green; color:white; border:3px solid black; border-radius:10px; padding:3px; margin:7px; color:black; font-family:inherit; font-size:inherit; font-weight:bold;">
				{{ vouches|length }}
				<a href="/provchange/{{pk}}/withdrawvouch/">
				<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/110875-200.png" height=22px />
				</a>
				</div>
			
		{% elif canvouch and not hasvouched %}
				<div style="display:inline-block; color:white; border:3px solid black; border-radius:10px; padding:3px; margin:7px; color:black; font-family:inherit; font-size:inherit; font-weight:bold;">
				{{ vouches|length }}
				<a href="/provchange/{{pk}}/addvouch/">
				<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/110875-200.png" height=22px />
				</a>
				</div>

		{% else %}
				<div style="display:inline; color:white; border-radius:10px; padding:7px; margin:10px; height:40px">
				<a style="color:black; font-family:inherit; font-size:inherit; font-weight:bold;">
				{{ vouches|length }}
				</a>
				<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/110875-200.png" height=30px />
				</div>
			
		{% endif %}

		<div style="display:inline; color:white; border-radius:10px; padding:7px; margin:10px; height:40px">
		<a style="color:black; font-family:inherit; font-size:inherit; font-weight:bold;">
		{{ comments }}
		</a>
		<img src="https://png.icons8.com/metro/540/comments.png" height=25px />
		</div>

		{% if metachange.status.value != 'NonActive' %}
			{% if user.username == metachange.user.value or user.is_staff %}
				<a href="/provchange/{{pk}}/withdraw/" style="float:right; background-color:crimson; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;">
				Withdraw?
				</a>
				<br><br>
			{% endif %}
			
		{% elif metachange.status.value == 'NonActive' %}
			{% if user.username == metachange.user.value or user.is_staff %}
				<a href="/provchange/{{pk}}/resubmit/" style="float:right; background-color:green; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;">
				Resubmit?
				</a>
				<br><br>
			{% endif %}
			
		{% endif %}
		
		</div>
		
		<br><br>

		{% for note in notes %}
                    {{ note|safe }}
                {% endfor %}
		
		<div>
			
				{% csrf_token %}

				<fieldset>
					<legend>Submitted By</legend>
					{% for field in metachange %}
						<p>{{ field.label }}: {{ field.value }}</p>
					{% endfor %}
				</fieldset>
				
				<fieldset>
					<legend>General Information</legend>
					{% for field in generalchange %}
						<p>{{ field.label }}: {{ field.value }}</p>
					{% endfor %}
				</fieldset>

				<fieldset>
					<legend>Type of Change</legend>
					<p>Type: {{ typechange.type.value }}</p>
				</fieldset>

				<div>
				<fieldset style="float:left; width:47%">
					<legend>From Province</legend>
					{% for field in fromchange %}
						<p>{{ field.label }}: {{ field.value }}</p>
					{% endfor %}
				</fieldset>

				<fieldset style="width:47%">
					<legend>To Province</legend>
					{% for field in tochange %}
						<p>{{ field.label }}: {{ field.value }}</p>
					{% endfor %}
				</fieldset>
				</div>

				{% if "Transfer" in typechange.type.value %}
					
					<fieldset style="clear:both">
						<legend>Geo Change</legend>
						{{ geochange.as_simple }}
					</fieldset>
					
				{% endif %}
			
		</div>

		<br/>

                <h3>Comments:</h3>
		<div style="margin-left:20px">
		{{ topics }}
		</div>

		<br/>

		<h3>Pending Edits</h3>
		{{ pendingeditstable }}
		
		<br/>

		<h3>Revision History</h3>
		{{ oldversionstable }}
		
	</div>

{% endblock %}
