
{% extends 'pshapes_site/base.html' %}

{% block content %}    			
	{% if not nomainbanner %}
		<div id="mainbanner" style="display:table;content:'';clear:both; background-color:black; width:100%; padding:0px; margin:0px; color:white">

			<div>
			{% if history %}
				{% for name,url in history %}
					<a style="float:left; background-color:orange; color:white; border-radius:10px; padding:10px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:10px;" href="{{ url }}">
					{{ name|safe }}
					</a>
				{% endfor %}
			{% endif %}
			</div>
		
			<div style="clear:both; width:1000px; margin:0 auto;">
			
			{% if custombanner %}
				{{ custombanner|safe }}
			
			{% else %}				
				<div style="float:left; width:48%; text-align:center; padding:1%">
				<h3>{{ bannertitle|safe }}</h3>
				{{ bannerleft|safe }}
				</div>
				
				<div style="float:left; width:48%; text-align:center; padding:1%">
				{{ bannerright|safe }}
				</div>
			
			{% endif %}
			
			</div>
			
		</div>
	{% endif %}
	
	<div style="width:1000px; margin:0 auto;">
		{% for grid in grids %}
			<div class="gridcell" style="float:left; width:{% firstof grid.width "30%" %}; padding-right:3%">
				<h4>{{ grid.title|safe }}</h4>
				<div style="border-style:solid; border-color:black; border-radius:10px; padding:3% 5%; background-size:100% 100%; background-color:orange; {{ grid.style }}">
				{{ grid.content|safe }}
				</div>
			</div>
		{% endfor %}
	</div>

	<p style="clear:both"><br></p>

{% endblock %}
